body {
    margin: 0;
}
.div-list {
  margin: 0;
  width: 75%;
  position: relative;
  background-image: url('../assets/site/mapblue.jpg');
  background-attachment: fixed;
  background-position: center center;
  object-fit: cover;
  float: left;
}
.div-search {
    margin: 0;
    width: 25%;
    height: 100vh;
    background: #585858;
    position: relative;
    float: right;
}
.div-list div {
    display: inline;
    float: left;
    padding: 10px;
    width: 90px;
}
.movie-img {
    margin: 20px 15px;    
    width: 90%;
}
.round-img {
    width: 80px;
}