body {
    margin: 0;
}
.div-list {
  margin: 0;
  width: 75%;
  height: 100vh;
  position: relative;
  background-image: url('../assets/site/mapblue.jpg');
  background-attachment: fixed;
  background-position: cover;
  float: left;
}
.div-search {
    margin: 0;
    width: 25%;
    height: 100vh;
    background: #585858;
    position: relative;
    float: right;
}